<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Home Search Page Template">
    <meta name="author" content="Ashwin Leon Mathews">
    <meta name="keywords" content="SPF">

    <!-- Title Page-->
    <title>SPF Home Page</title>

    <!-- Title Page Icon-->
    <link rel="icon" type="image/png" href="/static/logo-blue.png">

    <!-- Main CSS-->
    <link href="/static/home.css" rel="stylesheet" media="all" type="text/css">
</head>

<body>
    <div class="page-wrapper bg-img-2 p-t-290 p-b-120">
        <img class="logo" src="/static/logo-blue.jpeg" alt="logo" />
        <div class="wrapper wrapper--w1226">
            <div class="card card-5">
                <div class="card-body">
                    <form method="POST" action="#">
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">YouTube URL</label>
                                    <input class="input--style-1" type="text" name="url" placeholder="https://www.youtube.com/" required="required">
                                </div>
                            </div>
                            <div class="col-2">
                                <button class="btn-submit" type="submit">search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<!-- end document-->